/* CSS Vaiables */
:root {
  /* Typography Variables */
  --font-family-content: 'Calibri';
  --font-family-heading: 'Arial Black';
  /* Font Size Variables */
  --base-font-size: 16px;
  --font-size-xxl: 2rem;
  --font-size-xl: 1.57rem;
  --font-size-l: 1.22rem;
  --font-size-m: 1rem;
  --font-size-s: 0.82rem;
  --font-size-xs: 0.67rem;
  /* Spacing Variables */
  --base-spacing: 1rem;
  --expanded-base-spacing: 1.22rem;
  --compressed-base-spacing: 0.82rem;
  --spacing-l: var(--base-spacing);
  --spacing-m: calc(var(--base-spacing) * 0.82);
  --spacing-s: calc(var(--base-spacing) * 0.67);
  /* Color Variables */
  --theme-primary-color: #259bca;
  /*--theme-primary-color: #b50003;*/
  --theme-primary-bgcolor: color(var(--theme-primary-color) lightness(95%));
  --theme-border-color: color(var(--theme-primary-color) lightness(70%));
}

/* PostCSS Custom Selectors */
@custom-selector :--headings h1, h2, h3, h4, h5, h6;